
<body>
  <div class="whole">
    <div class="btn-group">
      <img src="../assets/Logo/New ThinkTac Logo (Color).png" alt="Logo" height="60px" width="200px" id="img">
      <div class="canvas">
        <canvas id='c'></canvas>
      </div>
      <div style="display: flex; justify-content: flex-centre;">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td id="username"> {{ username }} </td>
            <td>
              <button id="reset" (click)="apply()">Hole Position</button>
            </td>
            <td>
              <button id="reset" (click)="apply()">Add a hole</button>
            
            </td>
          </tr>
          <tr>
            <td>
              <mat-slider step="0.25" min="0.25" max="5" (change)="updateSlider($event)" discrete thumblabel>
                <input matSliderThumb [(ngModel)]="value">
              </mat-slider>
              <h2>Adjust Aperature</h2>
            </td>
            <td>
              <div id="timer"> Time -

              <span>{{min}} : </span> 
              <span>{{sec}}</span>
                
              </div>
            </td>
            <td>
              <div id="attempts">Attempts - {{attempts}} </div>
            </td>
          </tr>
        </table>
  
  
  
  
        
        <table>
          <tr><button id="reset" (click)="apply()">Apply</button></tr>
          <tr><button id="reset" (click)="reset()">Reset</button></tr>
          <tr><button id="next" (click)="next()">Next</button></tr> 
        </table>
      </div>
    </div>
    <div class="info_box">
      <h4 style="color: white;">1. Adjust Distance 1 to get an image of height 10 cm on the image screen.</h4>
      <form [formGroup]="optionsForm">
        <input type="radio" id="option1" formControlName="selectedOption" value="1">
        <label for="option1">Option 1</label>
        <img src="../assets/Logo/Arrow_A-removebg-preview.png" height="50px" width="50px">

        <input type="radio" id="option2" formControlName="selectedOption" value="2">
        <label for="option2">Option 2</label>
        <img src="../assets/Logo/Arrow_B-removebg-preview.png" height="50px" width="50px">

        <input type="radio" id="option3" formControlName="selectedOption" value="3">
        <label for="option3">Option 3</label>
        <img src="../assets/Logo/Arrow_C-removebg-preview.png" height="50px" width="50px">

        <input type="radio" id="option4" formControlName="selectedOption" value="4">
        <label for="option4">Option 4</label>
        <img src="../assets/Logo/Arrow_D-removebg-preview.png" height="50px" width="50px">
      </form>

      <!-- <input type="radio" id="option1" name="option" value=1>
        <label for="option1">Option 1</label>
        <img src="../assets/Logo/Arrow_A-removebg-preview.png " height="50px" width="50px">
       

        <input type="radio" id="option2" name="option" value=2>
        <label for="option2">Option 2</label>
        <img src="../assets/Logo/Arrow_B-removebg-preview.png " height="50px" width="50px">

        <input type="radio" id="option3" name="option" value=3>
        <label for="option3">Option 3</label>
        <img src="../assets/Logo/Arrow_C-removebg-preview.png " height="50px" width="50px">

        <input type="radio" id="option4" name="option" value=4>
        <label for="option4">Option 4</label>
        <img src="../assets/Logo/Arrow_D-removebg-preview.png " height="50px" width="50px"> -->

    </div>
  
  </div>
  </body>