


.button{
    background-color:#4caf50;
    border:none;color:#fff;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:20px;
  }
  .btn-group{
    background-color: #f5dff7; 
    border: 1px solid rgb(133, 110, 9); 
    color: white; 
    padding: 5px 5px; 
    cursor: pointer; 
    display:inline-block;
    align-items: center;
    justify-content: center;
  }
  .mat-slider {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    vertical-align: middle;
    
    }
  
  .custom_slider{
    width: 169px;
    margin-left: 18px;
  }
  
  html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
   padding: 1em; 
  } 
  
  @media screen and (max-width: 500px) {
  html {
      height: 90vh;
      width:fit-content;
  }
  .mat-typography{
      width: fit-content;
  }
  } 
  
  form{
    display: flex;
    
  }
  label{
    color: white;
  }
  
  #uname{
    margin-left: 10px;
    padding-top: 7px;
    padding-left: 5px;
    box-align: center;
    background-color: #2f75b7;
    width: 180px;
    height: 30px;
    text-align: center;
  }
  #username{
    background: rgba(255,255,255,0);
    border: none;
  
  }
  
  #D1{
    margin-left: 5px;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #fec001;
    width: 180px;
    height: 30px;
    text-align: center;
  
  }
  #d1{
    background: rgba(255,255,255,0);
    border: none;
    width: 65px;
  
  }
  
  #D2{
    margin-left: 5px;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #00b050;
    width: 180px;
    height: 30px;
    text-align: center;
  }
  #d2{
    background: rgba(255,255,255,0);
    border: none;
    width: 65px;
  
  }
  
  #timer{
    margin-left: 5px;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #01b0f1;
    width: 180px;
    height: 30px;
    color: white;
    text-align: center;
  }
  #username{
    margin-bottom: 10px;
    background-color: #536d97;
    width: 120px;
    height: 30%;
    color: white;
    text-align: center;
    font-size: large;
  }
  #attempts{
    margin-left: 5px;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #01b0f1;
    width: 180px;
    height: 30px;
    color: white;
    text-align: center;
  
  }
  
  #counter{
    display: flex;
  }
  
  input::placeholder{
    color: white;
  }
  
  input[type="number"]{
    color: white;
  }
  
  #submit{
    display: flexbox;
    margin-left: 314px;  }
  
  
  #apply{
    margin-top: 22px;
    margin-left: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #c55b10;
    width: 80px;
    height: 35px;
    color: white;
    margin-bottom: 15px;
  
  }
  
  
  #reset{
    margin-left: 7px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #c00101;
    width: 80px;
    height: 35px;
    color: white;
    padding: center;
  
  }
  
  
  #next{
    margin-left: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #002161;
    width: 80px;
    height: 35px;
    color: white;
  
  }
  
  h2{
    color: rgb(255, 45, 45);
  }

  .start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 750px;
    left: 300px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.info_box{
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.info_box .info-title{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.info_box .info-list{
  padding: 15px 30px;
}

.info_box .info-list .info{
  margin: 5px 0;
  font-size: 17px;
}

.info_box .info-list .info span{
  font-weight: 600;
  color: #007bff;
}
.info_box .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid lightgrey;
}

.info_box .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}