<body>

<div class="homepage-container">
  <h1>Welcome to Pinhole Camera Game</h1>
  <form (ngSubmit)="startGame()">
    <div class="input-container">
      <label for="username">Enter Your Name:</label>
      <input type="text" id="username" name="username" [(ngModel)]="userName" required>
    </div>
  </form>
</div>


<div class="start_btn"><button (click)="showWarningPopup()">Start Game</button> </div>

<div class="info_box" [ngClass]="showWarning ? 'activeInfo':''">
  <div class="info-title"><span>Some Rules </span></div>
  <div class="info-list">
    <div class="info">1. abc</div>
    <div class="info">2. abc</div>
    <div class="info">3. abc</div>
    <div class="info">4. abc</div>

  </div>
  <div class="button">
    <button class="quit">Exit Game</button>
    <button class="restart" (click)="startGame()">Continue</button>
  </div>


</div>

</body>